@tailwind base;
@tailwind components;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
}

.hero {
  background-color: linear-gradient(to right, rgba(248, 118, 102, 1), rgba(248, 118, 102, 1));
}
/* .progress-ring__circle {
  stroke-dasharray: 120;
  stroke-dashoffset: 120;
}

.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: black;
}

.box .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(120 - (120 * 87) / 100);
  stroke: white;
} */

/* .movie-info span {
  background-color: red;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
} */

/* .overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
} */

@tailwind utilities;

.media-item:first-child {
  margin-left: 0;
}
